:root {
  --base-font-size: 16px;
}

.paymentContainer {
  box-sizing: border-box;
  width: 100%;
  margin: 30px 0;
}

.contentDiv {
  box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 15px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.step {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: calc(var(--base-font-size) * 1);
  font-weight: 100;
  text-align: center;
  color: #000;
}

span {
  font-weight: 600;
}

.heading {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: calc(var(--base-font-size) * 1.2);
  font-weight: 100;
  text-align: center;
  color: #000;
}

.cardImage {
  box-sizing: border-box;
  width: 70%;
}

.cardDetailContainer {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cardNumberDiv {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
}

.cardNumber {
  box-sizing: border-box;
  background-color: white;
  width: 90%;
  padding: 5px;
  margin: 0;
  font-size: calc(var(--base-font-size) * 0.9);
  border: none;
  outline: none;
}

.cardIcon {
  font-size: calc(var(--base-font-size) * 0.85);
  margin-right: 5px;
}

.cardDetails {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.expiryDate {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  margin: 0;
  font-size: calc(var(--base-font-size) * 0.9);
  border: none;
  outline: none;
  border: 1px solid gray;
}

.cvvDetails {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border: 1px solid gray;
}

.cvvDate {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  padding: 5px;
  margin: 0;
  font-size: calc(var(--base-font-size) * 0.9);
  border: none;
  outline: none;
}

.lockIcon {
  font-size: calc(var(--base-font-size) * 0.9);
  margin-right: 5px;
}

.name {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px;
  border: 1px solid gray;
  font-size: calc(var(--base-font-size) * 0.9);
}

.planDetail {
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  padding: 0;
  background-color: rgba(169, 169, 169, 0.646);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.planInnerDiv {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.cost {
  box-sizing: border-box;
  color: #000;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: calc((--base-font-size) * 1);
}

.planName {
  box-sizing: border-box;
  color: #000;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: calc(var(--base-font-size) * 0.9);
}

.navlinkChangePlan,
.navlinkInfo {
  box-sizing: border-box;
  color: rgb(11, 128, 206);
  margin: 0;
  padding: 0;
  padding-right: 10px;
  font-size: calc(var(--base-font-size) * 1.1);
  text-decoration: none;
}

.info1 {
  box-sizing: border-box;
  margin: 10px 0;
  padding: 0;
  text-align: justify;
  font-size: calc(var(--base-font-size) * 1);
}

.info2 {
  box-sizing: border-box;
  margin: 10px 0;
  padding: 0;
  text-align: justify;
  font-size: calc(var(--base-font-size) * 1);
}

.checkboxContainer {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

.checkboxLabel {
  box-sizing: border-box;
  font-size: calc(var(--base-font-size) * 0.9);
}

.contentDivButton {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  font-size: calc(var(--base-font-size) * 1.3);
  color: white;
  background-color: rgb(245, 42, 42);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contentDivButton:hover {
  background-color: rgb(221, 48, 48);
}

.errorMsg {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  margin-top: 3vh;
  font-size: calc(var(--base-font-size) * 0.9);
  color: red;
  text-align: center;
 
}

.captcha {
  box-sizing: border-box;
  width: 100%;
  margin: 2vh auto;
  padding: 0;
  font-size: calc(var(--base-font-size) * 0.9);
  text-align: left;
  line-height: 1.2;
}

.navlinkCaptcha {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  margin: 0 0 0 5px;
  padding: 0 0px 0 0;
  color: rgb(11, 128, 206);
  font-size: calc(var(--base-font-size) * 0.9);
  text-decoration: none;
}

@media screen and (min-width:350px) {
  .contentDiv{
    width: 350px;
    margin: auto;
  }
}

@media screen and (min-width:700px) {
  :root {
    --base-font-size: 18px;
  }

  .contentDiv{
    width: 400px;
    margin: auto;
  }
}

