.outerContainer {
  background-image: url("../../public/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.bannerImage {
  width: 99vw;
  height: 100vh;
}
.landingPageContainer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}
/*
  position: relative;
  top: 0px;
  left: 0;
  
  z-index: 1000;
  margin: 0;
*/

.reasonsDiv {
  box-sizing: border-box;
  min-height: 20vh;
  width: 100vw;
  max-width: 100vw;
  margin-top: 0px;
  padding-bottom: 65px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  color: white;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
  border-top: 5px solid firebrick;
  border-bottom: 5px solid firebrick;
}
.reasonsDiv p {
  box-sizing: border-box;
  margin: 0;
  margin-left: 4%;
  margin-top: 13vh;
  font-size: 2em;
  font-weight: 600;
  padding: 1vw 0;
  padding-left: 3vw;
}

.reasonsChildDivContainer {
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin-left: 6vw;
  gap: 4vw;
}
.reasonsChildDiv {
  box-sizing: border-box;
  width: 19.2vw;
  max-width: 100vw;
  background: linear-gradient(to bottom right, #3d1149, #3d1149);
  border-radius: 20px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.reasonsChildDiv h2 {
  box-sizing: border-box;
  max-width: 100vw;
  width: 17vw;
  font-size: 2em;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  overflow-wrap: break-word;
}
.reasonsImage1 {
  box-sizing: border-box;
  max-width: 100vw;
  width: 100px;
  height: auto;
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.reasonsImage2 {
  box-sizing: border-box;
  max-width: 100vw;
  width: 100px;
  height: auto;
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.reasonsImage3 {
  box-sizing: border-box;
  max-width: 100vw;
  width: 100px;
  height: auto;
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.reasonsImage4 {
  box-sizing: border-box;
  max-width: 100vw;
  width: 90px;
  border-radius: 50%;
  height: auto;
  position: absolute;
  top: 190px;
  right: 10px;
}
.faqContainer {
  box-sizing: border-box;
  max-width: 100vw;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: black;
  padding-bottom: 65px;
  border-bottom: 5px solid firebrick;
}
.faqContainer p {
  margin: 75px 0 1vh 7vw;
  font-size: 2em;
  color: white;
}
.faqChildDivContainer {
  box-sizing: border-box;
  width: 85vw;
  max-width: 85vw;
  overflow: hidden;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  color: white;
  border-radius: 10px;
  margin: auto;
  margin-left: 6vw;
}
.faqChildDiv {
  background-color: rgb(28, 27, 27);
  color: white;
  padding: 25px 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.faqChildDiv:hover {
  background-color: rgba(86, 81, 81, 0.878);
}
.faqChildDiv p {
  margin: 0;
  font-size: 25px;
}
.iconDiv {
  margin: 0;
  padding: 0;
}
.plusIcon {
  font-size: 2em;
  padding-right: 5px;
}
.segregate {
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  height: 1px;
  border: 3px solid firebrick;
}
/*29-36*/
