/* LandingPage.module.css */

.outerContainer {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 1);
}

.bannerImage {
  width: 100%;
  height: auro;
}
.landingPageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 100;
}
