:root {
  --base-font-size: 16px;
}

.paymentContainer {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  margin: 20vh 0;
}

.contentDiv {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 30px 0;
  background-color: white;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.step {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0px;
  font-size: calc(var(--base-font-size) * 1.1);
  text-align: center;
  font-weight: 100;
  font-family: sans-serif;
}

.heading {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 5px;
  font-size: calc(var(--base-font-size) * 1.5);
  text-align: center;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.description {
  box-sizing: border-box;
  width: 80%;
  margin: 0;
  padding: 0 0px;
  font-size: calc(var(--base-font-size) * 1.2);
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.line4,
.line5 {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 0px;
  font-size: calc(var(--base-font-size) * 1.2);
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.encryptionDiv {
  box-sizing: border-box;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4vh;
  margin: 0;
  padding: 0px;
}

.text1 {
  box-sizing: border-box;
  font-size: calc(var(--base-font-size) * 0.8);
  margin: 0;
  padding: 0px;
}

.lockIcon {
  color: orange;
}

.card {
  box-sizing: border-box;
  width: 62%;
  margin: 0;
  padding: 0px;
  padding: 5px;
  margin-top: 5px;
  border: 2px solid darkgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.text2 {
  box-sizing: border-box;
  font-size: calc(var(--base-font-size) * 0.9);
  margin: 0;
  padding: 0px;
}

.arrowIcon {
  font-size: calc(var(--base-font-size) * 0.8);
  margin: 0;
  padding: 0px;
}

.upi {
  box-sizing: border-box;
  width: 62%;
  margin: 0;
  padding: 0px;
  padding: 5px;
  margin-top: 5px;
  border: 2px solid darkgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.text3 {
  box-sizing: border-box;
  font-size: calc(var(--base-font-size) * 0.9);
  margin: 0;
  padding: 0px;
}

@media screen and (min-width: 500px) {
  .contentDiv {
    width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 1500px) {
  :root {
    --base-font-size: 25px;
  }

  .contentDiv {
    width: 1000px;
    margin: auto;
  }
}
