:root {
  --base-font-size: 16px;
}

.formContainer {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  margin: 60px 0;
  padding: 5px;
}

.contentDiv {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  font-size: calc(var(--base-font-size) * 1.1);
  text-align: center;
}

.heading {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  padding: 0;
  padding-left: 15px;
  font-size: calc(var(--base-font-size) * 1.1);
  text-align: center;
}

.popular {
  box-sizing: border-box;
  width: 100%;
  font-size: var(--base-font-size);
  text-align: center;
  margin: 0;
  padding: 5px 0;

  background-color: rgb(91, 166, 217);

  /*  padding-left: 15px;*/
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.planContainer {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.planDetails {
  box-sizing: border-box;
  width: fit-content;
  margin: auto;
  padding: 5px;
  border: 2.5px solid darkgray;
  border-radius: 20px;
}

.planDetailsBasic {
  box-sizing: border-box;
  width: fit-content;
  padding: 5px;
  border: 2.5px solid darkgray;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.planNamePremium {
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(to bottom right, blue, red);
  border-radius: 20px;
  margin: 10px 0;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.planNameInnerDiv {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 0;
  padding-left: 15px;
  caret-color: transparent;
}

.planNameStandard {
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom right, blue, rgb(248, 0, 248));
}

.planNameBasic {
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    to bottom right,
    rgb(6, 6, 202),
    rgb(73, 193, 234)
  );
}

.planNameMobile {
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgb(6, 6, 202),
    rgb(73, 193, 234)
  );
}

.normal {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-weight: 600;
  font-size: calc(var(--base-font-size) * 1.2);
}

.quality {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-weight: 600;
  font-size: calc(var(--base-font-size) * 0.8);
}

.planSelectedIcon {
  box-sizing: border-box;
  width: calc(var(--base-font-size) * 3);
}

.detail {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid darkgray;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.downloadDetail {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 15px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
}

.line1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: calc(var(--base-font-size) * 0.8);
  font-weight: 600;
}

.line2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: calc(var(--base-font-size) * 1.1);
  font-weight: 600;
}

.bottomLine1,
.bottomLine2 {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: calc(var(--base-font-size) * 0.8);
  text-align: center;
  color: rgba(52, 50, 50, 0.594);
}

.bottomLine1 {
  margin-top: 30px;
}

.bottomLine2 {
  margin-top: 10px;
}

.navlink {
  font-size: calc(var(--base-font-size) * 0.9);
  margin: 0 5px;
  text-decoration: none;
  color: rgb(52, 156, 201);
}

.navlink:hover {
  color: rgba(8, 88, 123, 0.914);
}

.contentDivButton {
  box-sizing: border-box;
  width: fit-content;
  margin: auto;
  margin-top: 50px;
  padding: 5px 10px;
  font-size: calc(var(--base-font-size) * 1.5);
  color: white;
  background-color: red;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contentDivButton:hover {
  background-color: rgb(221, 48, 48);
}

.errorMessage {
  box-sizing: border-box;
  color: red;
  font-weight: 600;
  font-size: calc(var(--base-font-size) * 1);
}

@media screen and (min-width: 306px) {
  .planDetails,
  .planDetailsBasic {
    width: 306px;
  }
}

@media screen and (min-width: 970px) {
  .bottomLine1,
  .bottomLine2,
  .navlink {
    font-size: calc(var(--base-font-size) * 1.2);
    width: 80%;
  }
}
