.formContainer {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 10vh 0 15vh 0; /**/
}

.contentDiv {
  box-sizing: border-box;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.contentDivLine1 {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  color: #040404a3;
  font-weight: 600;
  margin-bottom: 1vh;
}

.contentDivHeading1 {
  box-sizing: border-box;
  margin: 2px 0;
  padding: 2px 0;
  font-size: 2em;
  color: #000;
  width: 100%;
  text-align: center;
}

.contentDivHeading2 {
  box-sizing: border-box;
  margin: 2px 0;
  padding: 2px 0;
  font-size: 2em;
  color: #000;
  width: 100%;
  text-align: center;
}

.contentDivLine2 {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0;
  margin: 10px 0;
  padding: 2px 0;
  font-size: 1.2em;
  color: #000;
  text-align: left;
}

.emailLabel {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 0;
  padding: 2px 0;
  font-size: 1em;
  color: #000;
  text-align: left;
}

.userEmail {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 2vh;
  padding: 2px 0;
  font-size: 1.2em;
  color: #000;
  text-align: left;
}

.inputPassword {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  padding: 5px 8px;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  border-radius: 8px;
}

.forgotPassword {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin: 15px 0;
  padding: 2px 0;
  font-size: 1em;
  color: #3a719f;
}

.contentDivButton {
  box-sizing: border-box;
  width: auto;
  font-size: 1.5em;
  text-align: center;
  margin: 15px 0 0 0;
  padding: 3px 15px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 8px;
}

@media screen and (min-width: 375px) {
  .contentDiv {
    width: 300px;
    margin: auto;
  }
}

@media screen and (min-width: 600px) {
  .contentDiv {
    width: 35f0px;
    font-size: 1.25em;
    margin: auto;
  }
}

.errorMessage1 {
  box-sizing: border-box;
  margin: 0;
  margin-top: 1vh;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.errorMessage2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.errorMessage3 {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 0vh;
  padding: 0;
  max-width: 100%;
  height: auto;
}
