.signUpContainer {
  box-sizing: border-box;
  background-color: white;
  width: auto;
  height: fit-content;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*styles for additional info comp to be passed as prop*/
.outerContainer{
  background-color: rgb(235, 228, 228);
}

.additionalInfoContainer {
  margin-top: 0vh; 
  border-top: 5px solid darkgrey;
  background-color: rgb(241, 240, 240);
  gap: 1vh;
}
.contactPara {
  color: rgb(121, 121, 121);
  font-size: 15px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.infoChildDivContainer {
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 02vh;
  padding-bottom: 02vh;
}
.navlink {
  color: rgb(121, 121, 121);
  font-size: 12px;
  font-weight: 600;
  width: 14vw;
}
.dropdown {
  height: 6vh;
  font-size: 19px;
}
.countryPara {
  margin-left: 5vw;
  margin-top: 0vw;
  color: black;
}
