.signUpContainer {
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}
.contentDiv {
  background-color: orange;
  box-sizing: border-box;
  max-width: 50vw;
  height: 50vh;
  margin: auto;
  margin-top: 15vh;

  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*brdr*/
}
.contentDivImg {
}
.contentDivPara1 {
  background-color: red;
  box-sizing: border-box;
  max-width: 50%;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0;
}
.contentDivHeading {
  background-color: red;
  box-sizing: border-box;
  max-width: 50%;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0;
}
.contentDivPara2 {
  background-color: red;
  box-sizing: border-box;
  max-width: 50%;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0;
}
.contentDivPara3 {
  background-color: red;
  box-sizing: border-box;
  max-width: 50%;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0;
}
.contentDivButton {
  background-color: rgb(183, 148, 148);
  box-sizing: border-box;
  width: 25%;
  height: auto;
  text-align: center;
  margin: 0;
  padding: 0;
}
/*styles for additional info comp to be passed as prop*/
.additionalInfoContainer {
  margin-top: 15vh;
  border-top: 5px solid darkgrey;
  background-color: rgb(241, 240, 240);
}
.contactPara {
  color: rgb(121, 121, 121);
  font-size: 18px;
  font-weight: 600;
}
.navlink {
  color: rgb(121, 121, 121);
  font-size: 18px;
  font-weight: 600;
}
.dropdown {
  height: 6vh;
  font-size: 19px;
}
.countryPara {
  margin-left: 5vw;
  margin-top: 0vw;
  color: black;
}
